[class^=friendsButtonContainer], /*friends button*/
.hoverButtonGroup__06ab4, /*edit image with apps bs*/
[class^=searchBar], /*button that just activates quick switcher which is just ctrl k*/
.separator_b3f026, /*usseless lines in settings*/
.divider_f369db, /*useless line in forum post creation*/
.channel__972a0[aria-posinset="2"], /*nitro*/
.channel__972a0:not([aria-posinset]), /*shop*/
.repliedMessageClickableSpine_f9f2ca, /*useless line on replied messages*/
[role=separator], /*useless lines in right click menus*/
[href="https://support.discord.com"], /*help icon*/
.buttons__74017, /*message buttons (they all have keyboard shortcuts)*/
.container_eff079, /* server boosts */
[class^=sectionDivider]
.search__97492:not(.open__97492), /*non focused search bar*/
[class^=ddrArrows], /*annoying arrows*/
.guildIconV2Container__85d16, /*annoying button*/
.wrapper_ef3116.guilds_c48ade /*server icons*/ {
  display: none !important;
} 

.button_adca65__67645[role="switch"] { /* mute and deafen buttons*/
  visibility: hidden !important;
}

* {
  border: none !important;
} 

*:before, {
  box-shadow: none !important;
}

.sidebar_c48ade {
  border-radius: 8px !important; 
  margin: 5px 5px 5px 5px !important;
} 

.base_c48ade { 
  background-color: var(--background-primary); 
}

:root {
  --shadow-ledge: none !important;
}
