/* TODO: Make  it change by the variable*/
* {
  border: none;
  font-family: 'sans-serif', 'monospace';
  font-size: 15px;
}

window#waybar {
  background: transparent;
}

#workspaces button {
  padding-left: 4px;
  padding-right: 4px;

  color: #cdd6f4;
  box-shadow: none; /* Remove predefined box-shadow */
  text-shadow: none; /* Remove predefined text-shadow */
  background: none; /* Remove predefined background color (white) */
  transition: none; /* Disable predefined animations */
}

#workspaces button.hidden {
  color: #cdd6f4;
}

#workspaces button.visible {
  color: #cba6f7;
}

#workspaces button.urgent {
  color: #f38ba8;
}

#custom-waybar-mpris, #mode, #workspaces, #clock, #language, #indicators {
  border-radius: 8px;
  background-color: rgba(17, 17, 27, 0.9);
  color: #cdd6f4;
  border: 2px solid #cba6f7;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
}
