* {
  border: none;
}

window#waybar {
  background: transparent;
}

#workspaces button {
  padding-left: 4px;
  padding-right: 4px;

  color: var(--text);
  box-shadow: none; /* Remove predefined box-shadow */
  text-shadow: none; /* Remove predefined text-shadow */
  background: none; /* Remove predefined background color (white) */
  transition: none; /* Disable predefined animations */
}

#workspaces button.hidden {
  color: var(--text);
}

#workspaces button.visible {
  color: var(--accent);
}

#workspaces button.urgent {
  color: var(--urgent);
}

#custom-waybar-mpris, #mode, #workspaces, #clock, #language, #indicators {
  border-radius: 8px;
  background-color: var(--background);
  color: var(--text);
  border: 2px solid var(--accent);
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
}
