.friendsButtonContainer__35e86, /*friends button*/
.hoverButtonGroup__06ab4, /*edit image with apps bs*/
.divider__9293f, /* useless line in channell description*/
.searchBar__35e86, /*button that just activates quick switcher which is just ctrl k*/
.separator_b3f026, /*usseless lines in settings*/
.divider_f369db, /*useless line in forum post creation*/
.channel__972a0[aria-posinset="2"], /*nitro*/
.channel__972a0:not([aria-posinset]), /*shop*/
.repliedMessageClickableSpine_f9f2ca, /*useless line on replied messages*/
[role=separator], /*useless lines in right click menus*/
[href="https://support.discord.com"], /*help icon*/
.buttonContainer_e6e74f, /*apps icon*/
.buttons__74017, /*message buttons (they all have keyboard shortcuts)*/
.container_eff079, /* server boosts */
.search__97492:not(.open__97492), /*non focused search bar*/
.ddrArrows_f061f6, /*annoying arrows*/
.guildIconV2Container__85d16, /*annoying button*/
.wrapper_ef3116.guilds_c48ade /*server icons*/ {
  display: none !important;
} 

.button_adca65__67645[role="switch"] { /* mute and deafen buttons*/
  visibility: hidden !important;
}

.divider_a6d69a {/*useless line in forum tags*/
  background-color: transparent !important;
}

* {
  border: none !important;
} 

*:before, {
  box-shadow: none !important;
}

.sidebar_c48ade {
  border-radius: 8px !important; 
  margin: 5px 5px 5px 5px !important;
} 

.baseLayer_d4b6c5 { 
  background-color: var(--background-primary); 
}

:root {
  --shadow-ledge: none !important;
}

.channelTextArea_f75fb0 { /* make the bar aling*/
  right: 16px !important;
}

